/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        C_LWIN {
            bindings = <&kp LWIN>;
            key-positions = <1 13>;
            slow-release;
        };

        C_LALT {
            bindings = <&kp LEFT_ALT>;
            key-positions = <2 14>;
            slow-release;
        };

        C_LCTRL {
            bindings = <&kp LCTRL>;
            key-positions = <3 15>;
            slow-release;
        };

        C_LSHIFT {
            bindings = <&kp LSHFT>;
            key-positions = <4 16>;
            slow-release;
        };

        C_LHOME {
            bindings = <&kp HOME>;
            key-positions = <13 25>;
            slow-release;
        };

        C_DELETE {
            bindings = <&kp DELETE>;
            key-positions = <14 26>;
            slow-release;
        };

        C_LINSERT {
            bindings = <&kp INS>;
            key-positions = <15 27>;
            slow-release;
        };

        C_END {
            bindings = <&kp END>;
            key-positions = <16 28>;
            slow-release;
        };

        RSHIFT_C {
            bindings = <&kp RSHIFT>;
            key-positions = <7 19>;
            slow-release;
        };

        C_RCTRL {
            bindings = <&kp RCTRL>;
            key-positions = <8 20>;
            slow-release;
        };

        C_RALT {
            bindings = <&kp RIGHT_ALT>;
            key-positions = <9 21>;
            slow-release;
        };

        RWIN_C {
            bindings = <&kp RWIN>;
            key-positions = <10 22>;
            slow-release;
        };

        C_RLEFT_ARROW {
            bindings = <&kp LEFT_ARROW>;
            key-positions = <19 31>;
            slow-release;
        };

        C_DOWN_ARROW {
            bindings = <&kp DOWN_ARROW>;
            key-positions = <20 32>;
            slow-release;
        };

        C_UP_ARROW {
            bindings = <&kp UP_ARROW>;
            key-positions = <21 33>;
            slow-release;
        };

        C_RIGHT_ARROW {
            bindings = <&kp RIGHT_ARROW>;
            key-positions = <22 34>;
            slow-release;
        };

        C_TOP_LEFT_TP {
            bindings = <&trans>;
            key-positions = <4 3 2 1 0>;
            timeout-ms = <70>;
        };

        C_MID_LEFT_TP {
            bindings = <&trans>;
            key-positions = <12 12 13 14 15 16>;
            timeout-ms = <70>;
        };

        C_BOT_LEFT_TP {
            bindings = <&trans>;
            key-positions = <24 25 26 27 28>;
            timeout-ms = <70>;
        };

        C_TOP_RIGHT_TP {
            bindings = <&trans>;
            key-positions = <7 9 10 11 8>;
            timeout-ms = <70>;
        };

        C_MID_RIGHT_TP {
            bindings = <&trans>;
            key-positions = <19 20 21 22 23>;
            timeout-ms = <70>;
        };

        C_BOT_RIGHT_TP {
            bindings = <&trans>;
            key-positions = <35 34 33 32 31>;
            timeout-ms = <70>;
        };

        new_combo {
            bindings = <&to 0>;
            key-positions = <37 40>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            label = "Base";
            bindings = <
&kp ESCAPE  &kp Q  &kp W       &kp E  &kp R      &kp T      &kp Y  &kp U          &kp I    &kp O     &kp P  &kp BACKSPACE
   &kp TAB  &kp A  &kp S       &kp D  &kp F      &kp G      &kp H  &kp J          &kp K    &kp L  &kp SEMI        &kp SQT
 &kp GRAVE  &kp Z  &kp X       &kp C  &kp V      &kp B      &kp N  &kp M      &kp COMMA  &kp DOT  &kp FSLH  &kp BACKSLASH
                          &kp DELETE  &to 1  &kp SPACE    &kp RET  &to 2  &kp BACKSPACE
            >;
        };

        lower_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            label = "Lower";
            bindings = <
             &none        &kp F1        &kp F2        &kp F3        &kp F4        &kp F5          &kp F6        &kp F7        &kp F8            &kp F9            &kp F10         &trans
             &none  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp NUMBER_5    &kp NUMBER_6  &kp NUMBER_7  &kp NUMBER_8      &kp NUMBER_9       &kp NUMBER_0    &kp PAGE_UP
&kp K_CONTEXT_MENU       &kp F11       &kp F12         &none         &none         &none           &none     &kp MINUS     &kp EQUAL  &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp PAGE_DOWN
                                                      &trans        &trans        &trans          &trans        &trans        &trans
            >;
        };

        raise_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            label = "Raise";
            bindings = <
&bt BT_CLR  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2      &bt BT_SEL 3  &bt BT_SEL 4     &kp KP_NUMLOCK  &kp KP_N7  &kp KP_N8  &kp KP_N9   &kp PRINTSCREEN  &kp PAUSE_BREAK
&kp K_MUTE  &kp C_VOL_DN  &kp C_VOL_UP    &kp K_PREV  &kp K_PLAY_PAUSE    &kp K_NEXT    &kp KP_NUMBER_0  &kp KP_N4  &kp KP_N5  &kp KP_N6  &kp K_CALCULATOR   &kp SCROLLLOCK
     &none         &none         &none         &none             &none         &none          &kp KP_N0  &kp KP_N1  &kp KP_N2  &kp KP_N3             &none     &kp CAPSLOCK
                                              &trans            &trans        &trans             &trans     &trans     &trans
            >;
        };
    };
};
